.App {
  flex-direction: column;
  background: linear-gradient(30deg, #212332 0%, #474975 70%);
  height: 100vh;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
}
